@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: 'Urbanist', sans-serif;
  color: aliceblue;
}
body {
  background-color: #1b1b1b;
}
.Hero {
  margin-top: 50px;
  color: white;
}
.heading {
  z-index: 10;
}
.red {
  border: 1px solid red;
}
.grey {
  border: 1px solid #afafaf;
}
